<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcgroup10.com.batroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".GeofenceTransitionService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeULE-hNvbqT4xVDCqe5AvMEIxhFRyqTg"/>
        <!--meta-data
            android:name="com.google.android.gms.version"
            android:value="9080000" /-->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Route"
            android:label="@string/route_name" />
        <activity
            android:name=".Weather"
            android:label="@string/weather_name" />
        <activity

            android:name=".DoNotDisturb"
            android:label="@string/dnd_name" />
        <activity
            android:name=".AutoReply"
            android:label="@string/autoreply_name" />
        <activity
            android:name=".Birthdays"
            android:label="@string/birthdays_name" />

        <!--receiver android:name=".DoNotDisturb$MyWebRequestReceiver" >
            <intent-filter>
                <action android:name="mcgroup10.com.batroid.intent.action.PROCESS_RESPONSE" />
            </intent-filter>
        </receiver-->

        <receiver android:name=".DoNotDisturb$ResponseReceiver">

            <intent-filter>
                <action android:name="mcgroup10.com.batroid.CUSTOM_INTENT">
                </action>
            </intent-filter>

        </receiver>
    </application>

</manifest>